/*Design the cart page*/
#cart {
  text-align: center;
}

.product-side {
  display: inline-block;
  width: 20%;
}

.quantity-side {
  display: inline-block;
  width: 20%;
}

.price-side {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.remove-side {
  display: inline-block;
  width: 20%;
}

.remove-from-cart {
  padding: 15px;
  border-radius: 5px;
  background-color: #c82333;
  color: #ffffff;
}

#make-sale {
  padding: 15px;
  border-radius: 5px;
  background-color: #1e7e34;
  color: #ffffff;
}

#make-sale:hover {
  background-color: #ffffff;
  color: #1e7e34;
  border: solid 1px #1e7e34;
}

#sale-side {
  margin-top: 15px;
}

#link-color {
  color: #2435ca;
}
