/* Design a single product page */
#img-side {
  display: inline-block;
  width: 25%;
}

#desc-side {
  display: inline-block;
  width: 25%;
  margin: auto;
  padding: 0 50px;
  font-size: 20px;
}

#btn-side {
  display: inline-block;
}

#edit-btn {
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: #32c16b;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
}

#delete-btn {
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
}

/* Make site responsive for devices with width or 980px or less */
@media(max-width: 980px){
  /* Stack up the divs ontop of each other instead of leaving them inline with each other */
  #img-side, #desc-side, #btn-side {
    display: block;
    width: 100%;
    text-align: center;
  }
}
