/* Design the products page */
.products {
  margin-top: 50px;
}

.product {
  border: 1px solid #24292e;
  width: 50%;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
}

.product-desc {
  display: inline-block;
}

.product-detail {
  margin-top: 35px;
  float: right;
  padding: 10px;
  display: block;
  width: 20%;
  background-color: #007bff;
  color: #ffffff;
}

.search-sec {
  float: right;
}

.search-sec input[type="text"] {
  width: 50%;
}

.search-btn {
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
}

#add-product {
  margin-left: 100px;
  width: 23.5%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
}

.add-to-cart {
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  margin-bottom: 2px;
  float: right;
}

/*Make site responsive for screens smaller than 768px*/
@media (max-width: 768px) {
  /* Center the products div */
  .products {
    margin: auto;
  }
  /* Display one product per row */
  .product {
    display: block;
    width: 100%;
  }
  #add-product {
    width: 100%;
    margin-left: 0;
  }
}
