/* Contain classes used on multiple pages */
body {
  margin: 0;
  padding: 0;
  font: 15px/1.5 Arial;
  background-color: #f2f2f2;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style navbar */
.header {
  background-color: #24292e;
  color: #ffffff;
  min-height: 70px;
  margin-bottom: 5px;
}

.active {
  color: #007bff;
}

.header a:hover {
  color: #007bff;
}

.header h1 {
  float: left;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.navbar-right li {
  float: right;
}

.navbar-left li {
  float: left;
}

.navbar-right {
  padding-top: 1px;
}

.navbar-left {
  padding-top: 25px;
}

.navbar-right ul,
.navbar-left ul {
  list-style: none;
}

.navbar-right ul li,
.navbar-left ul li {
  padding: 5px;
  margin: 0;
}

.navbar-right ul li a,
.navbar-left ul li a {
  font-size: 20px;
  cursor: pointer;
}

/* Style buttons */
button {
  cursor: pointer;
  border: none;
}

/* Style to keep content not to strech out to the end of the browser */
.container {
  width: 80%;
  margin: auto;
}

/* Style for making images responsive */
.responsive {
  height: auto;
  width: 100%;
}

/* Style input fields */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
select {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Style the modals */
.modal {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-content {
  width: 36%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 50px;
  border: 1px solid #24292e;
}

.modal-content h2 {
  display: inline;
}

.modal-btn {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #007bff;
  color: #ffffff;
}

.close {
  float: right;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

/* Style a card */
.card {
  background-color: #ffffff;
  padding: 20px;
  margin: 70px;
}

/* Style the tables */
.table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  background-color: #ffffff;
  font-size: 20px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding: 12px 0;
  text-align: left;
  background-color: #24292e;
  color: #ffffff;
}

.table a {
  text-decoration: none;
  color: #24292e;
}

/* Style to center different elements */
.center-head {
  text-align: center;
}

/* Style color for success and error */
.msg-display {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
  font-size: 20px;
}

.success {
  background-color: #28a745;
}

.error {
  background-color: #dc3545;
}

/*Make site responsive for smaller screens of width 768px and below*/
@media (max-width: 768px) {
  .header h1,
  .navbar-right li,
  .navbar-left li {
    float: none;
  }

  .header,
  .navbar-right,
  .navbar-left {
    text-align: center;
  }
}

/*Make site responsive for screens smaller than 600px*/
@media (max-width: 600px) {
  /* Remove the margin from the card */
  .card {
    margin: 0;
  }
}
