/* Design an attendant profile page */
#attendant-profile {
  width: 50%;
  text-align: center;
  margin: auto;
}

.rights {
  padding: 10px;
  color: #ffffff;
}

.make-admin {
  background-color: #4caf50;
}

.remove-admin {
  background-color: #c82333;
}

.profile-img {
  float: left;
  margin-right: 50px;
  width: 35%;
}

/*Make site responsive for smaller screens*/
@media (max-width: 768px) {
  /* Stack up the image ontop of the description */
  .profile-img {
    float: none;
    margin: auto;
  }
  .profile-desc {
    text-align: center;
  }
  #attendant-profile {
    margin-bottom: 0;
  }
}
